<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Politically Exposed Person - Materalize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#"
            class="brand-logo">Telus</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/persons">PEPS</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#x">Agencies</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="/contracts">Problematic Contracts</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">

      <!--   Person Section   -->
      <div class="row center">

        <div class="col s3">
          <div class="icon-block">
            <h2 class="light-blue-text"><i
                    class="material-icons">person</i></h2>
            <!-- Popit name --> 
            <h5 class="center">
                {{ contract.description }}</h5>

            <p class="light">Company: {{ organization.name }}</p>
            <p class="light">value(RM): {{ contract.value.amount }}</p>
          </div>
        </div>
      
        <div class="col s9">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i
                    class="material-icons">account_balance</i></h2>

            <h5 class="left">Directors</h5>
            <table class="striped"  >
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Share</th>
                  <th>Year of Experience</th>
              </tr>
            </thead>

            <tbody>
                {% for director in directors%}
                <tr>
                    {% if director.person_id %}
                        <td><a href="/persons/{{ director.person_id }}">{{ director.name}}</a> </td>
                    {% else %}
                        <td>{{ director.name}}</td>
                    {% endif %}
                    <td>{{ director.shares }}</td>
                    <td>{{ director.year_of_experience }}</td>

                 </tr>
                {% endfor %}
            </tbody>
          </table> 
          </div>
          <div class="icon-block">
            <h2 class="light-blue-text"><i
                    class="material-icons">business</i></h2>

          <h5 class="left">Posts and Memberships</h5>

          <table class="striped"  >
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Post</th>
                  <th>Company</th>

              </tr>

            </thead>

            <tbody>
                {% for conflict in conflict %}
                <tr>
                    {% if conflict.person_id %}
                        <td><a href="/persons/{{ director.person_id }}">{{ conflict.name }}</a></td>
                    {% else %}
                        <td>{{ conflict.name }}</td>
                    {% endif %}
                    <td>{{ conflict.official_post }}</td>
                    <td>{{ conflict.company }}</td>
                </tr>
                {% endfor %}


            </tbody>
          </table>
          </div>

        </div>


    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Telus and Sinar Project</h5>
          <p class="grey-text text-lighten-4">
          Telus is proof of concept project to join up open standards
          of beneficial ownership and government positions and public
          officials against Open Contracting Standard data. It's aim is
          to provide transparency on beneficial owners of contractors and accountable
          public officials responsible for approving public procurement.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">PEPs</a></li>
            <li><a class="white-text" href="#!">Agencies</a></li>
            <li><a class="white-text" href="#!">Problematic Contracts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright <a class="orange-text text-lighten-3"
          href="https://sinarproject.org">Sinar Project</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
