<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Problematic Contracts</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#"
            class="brand-logo">Telus</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="person.html#">PEPS</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="agency.html#">Agencies</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Problematic Contracts</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">

      <!--   Info Section   -->
      <div class="row center">

        <div class="col s12">
          <div class="icon-block">
            <h2 class="light-blue-text"><i
                    class="material-icons">warning</i></h2>
            <!-- Popit name --> 
            <h5 class="center">Problematic Contracts</h5>

            <p class="light">Problematic contracts are contracts, which
            for which contractors (seller) beneficial ownesr are 
            politically exposed persons (PEPs)</p>
 
          </div>
        </div>
     
        <div class="row">
            <div class="col s12">
             
                <div class="icon-block">
                <h2 class="light-blue-text"><i
                        class="material-icons">business</i></h2>

              <h5 class="left">Contracts</h5>

              <table class="striped"  >
                <thead>
                  <tr>
                      <th>Company</th>
                      <th>Beneficial Owner</th>
                      <th>Procuring Agency</th>
                      <th>Project Title</th>
                      <th>Award Date</th>
                      <th>Value(RM)</th>
                  </tr>
                </thead>

                <!-- Loop contracts + PEPs here -->
                <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td>{{ contract.company }}</td>
                            <td>{{ contract.director }}</td>
                            <td></td>
                            <td>{{ contract.description }}</td>
                            <td>{{ contract.date }}</td>
                            <td>{{ contract.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table> 
              </div>
            </div>
        </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Telus and Sinar Project</h5>
          <p class="grey-text text-lighten-4">
          Telus is proof of concept project to join up open standards
          of beneficial ownership and government positions and public
          officials against Open Contracting Standard data. It's aim is
          to provide transparency on beneficial owners of contractors and accountable
          public officials responsible for approving public procurement.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">PEPs</a></li>
            <li><a class="white-text" href="#!">Agencies</a></li>
            <li><a class="white-text" href="#!">Problematic Contracts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright <a class="orange-text text-lighten-3"
          href="https://sinarproject.org">Sinar Project</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
